body,
html {
  margin: 0px;
  padding: 0px;
  box-sizing: content-box;
  font-size: 62.5%;
  font-family: 'Alkalami', serif;
  background-color: #1b2c39;
  color:#fdfffe;


}
.header {
  text-align: center;
  font-size: 8rem;
}
.allitems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 100px;
  align-items: center;
  
  
}
.item {
  font-size: 4rem;
  border: 5px solid white;
  box-sizing: border-box;
  width:30%;
  margin: 20px;
  border-radius: 20px;
  background-color: #79b165;
  height:50vh;
  text-align: center;
}
.img {
  width: 60%;
  margin:10px auto;
  display: block;
  padding:0px;
}

